* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Jost:300|Hepta+Slab:400");

html {
  font-size: 112.5%;
} /*18px*/
:root {
  --color-primary1: #062240;
  --color-primary2: #f1f1f1ed;
  --color-secondary: #6b7246;
  --color-secondary2: #0f0f0f;

  --color-accent1: #ff5e4f;
  --color-offwhite: #fffaff;
  /* ------------------------------------------------- */
  --font-displayfont: "Hepta Slab", serif;
  --font-bodyfont: "Jost", sans-serif;
}
body {
  background: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
}

p {
  margin-bottom: 1rem;
  color: var(--color-primary1);
  margin-top: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Hepta Slab", serif;
  font-weight: 400;
  line-height: 1.3;
  color: var(--color-primary1);
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}
img {
  border-radius: 8px;
}
/* ----------------NAV--------------------------- */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 77px;
  background: var(--color-primary1);
  padding: 0 48px;
  align-content: center;
}

nav > a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #fffaff;
  white-space: nowrap;
  font-size: 1.1rem;
  z-index: 1;
  font-size: 1.5rem;
}
nav > a:first-of-type {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: var(--font-displayfont);
  font-size: 1.1rem;
  font-weight: 400;
  max-width: fit-content;
}

.lan {
  font-size: 1rem;
  color: var(--color-offwhite);
  list-style: none;
  margin-left: 3rem;
}
.lan ul {
  list-style-type: none;
}
.lan a {
  text-decoration: none;
  color: var(--color-accent1);
}
.lan .link_off {
  color: rgba(255, 250, 255, 0.5);
}
#nav_links {
  display: flex;
}

#end_of_nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#nav_links ul {
  list-style-type: none;
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav_links ul li {
  padding-left: 1.2rem;
}
#nav_links > ul a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  opacity: 0.8;
}
#nav_links a:hover,
#footer_links > ul a:hover {
  color: #f41600;
}
nav svg {
  display: none;
}

.burgermenu {
  display: none;
}
.hide {
  display: none;
}
.burgermenu a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
/* ---------------WELCOME SECTION---------------------------------- */
main {
  display: grid;
  grid-template-columns: 1fr;
}
#welcome {
  width: 100%;
  height: 90vh;
  background-color: var(--color-secondary2);
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  scroll-margin-top: 5rem;
}
#welcomeContent {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 0 0 48px;
}
#contentText {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: var(--color-offwhite);
  z-index: 2;
  grid-row: 1;
}
#contentText h1 {
  font-weight: 600;
  line-height: 1.1;
  color: white;
}
#contentText p {
  text-align: start;
  color: white;
  max-width: 40vw;
}
#contentImg {
  width: 75%;
  height: 80%;
  grid-column: 5/13;
  align-self: center;
  z-index: 1;
  grid-row: 1;
}
button {
  cursor: pointer;
}
#scroll_indicator {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
#scroll_indicator svg {
  fill: var(--color-primary1);
}
#scroll_indicator_p2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
#backtothetop {
  justify-self: end;
  margin-bottom: 0.5rem;
  margin-right: 48px;
  display: flex;
  flex-direction: column-reverse;
}
#backtothetop svg {
  fill: var(--color-primary1);
}
#backtothetop a {
  align-self: center;
}
#backtothetop p {
  max-width: 10ch;
  margin: 0;
}
/* --------------PROJECT ONE-------------------------------------- */
#project_one {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem 48px;
}
#project_one_graphics img {
  width: 100%;
}

#project_one_graphics {
  grid-column: 7/13;
  width: 100%;
  display: flex;
}
#project_one_graphics figure {
  align-self: center;
}

#project_one_content {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#svg {
  display: flex;
  width: 60px;
}

#svg svg {
  fill: var(--color-accent1);
  cursor: pointer;
}
#project_text {
  margin-left: 1rem;
}
#project_text a {
  text-decoration: none;
}
#project_text a:visited {
  text-decoration: none;
}
#project_text h3 {
  line-height: 2.4rem;
}
#project_text h5 {
  margin-top: 1rem;
}
#project_text > p:first-of-type {
  margin: 0;
  font-style: italic;
  font-size: 0.8rem;
  opacity: 0.5;
}
.project_one_desc button {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  font-size: 0.9rem;
  color: var(--color-accent1);

  transition: 0.1s;
}
.project_one_desc button:hover {
  transform: scale(1.2);
}
.project_one_desc a {
  text-decoration: none;
}

.project_one_desc a:visited {
  color: var(--color-accent1);
  text-decoration: none;
}
/* --------------PROJECT TWO-------------------------------------- */
#project_two {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem 48px;
  background-color: var(--color-primary2);
}
#project_two_graphics img {
  width: 100%;
}
#project_two_graphics {
  grid-column: 1/7;
  grid-row: 1;
  width: 100%;
  display: flex;
}
#project_two_graphics figure {
  align-self: center;
}
#project_two_content {
  grid-column: 8/13;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#project_two_content a {
  text-decoration: none;
}
#project_two_content a:visited {
  text-decoration: none;
}
.project_two_desc a {
  text-decoration: none;
}
.project_two_desc button {
  background-color: rgb(255, 255, 255, 0);
  color: var(--color-accent1);
  border: none;
  font-size: 0.9rem;
  transition: 0.1s;
}
.project_two_desc button:hover {
  transform: scale(1.2);
}
.project_two_desc a:visited {
  color: var(--color-accent1);
  text-decoration: none;
}
/* --------------PROJECT THREE-------------------------------------- */
#project_three {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem 48px;
}
#project_three_graphics img {
  width: 100%;
}
#project_three_graphics {
  grid-column: 7/13;
  width: 100%;
  display: flex;
}
#project_three_graphics figure {
  align-self: center;
}
#project_content {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#project_three a {
  text-decoration: none;
}
#project_three a:visited {
  text-decoration: none;
}
.project_three_desc {
  transition: 0.5s;
}
.project_three_desc a {
  text-decoration: none;
}
.project_three_desc button {
  background-color: rgb(255, 255, 255, 0);
  color: var(--color-accent1);
  border: none;
  font-size: 0.9rem;
  transition: 0.1s;
}
.project_three_desc button:hover {
  transform: scale(1.2);
}
.project_three_desc a:visited {
  color: var(--color-accent1);
  text-decoration: none;
}
/* ---------------------Contact--------------------------------- */

#contact {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10rem 48px;
  background-color: var(--color-primary2);
}
#contact_me {
  grid-column: 1/3;
}
#i_contact_you {
  grid-column: 1/4;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
}
#i_contact_you button {
  max-width: 9rem;
  padding: 0.4rem;
}
#i_contact_you h5 {
  max-width: 40rem;
}
#contact > h5 {
  grid-column: 1/4;
  align-self: end;
  margin-bottom: 0.8rem;
  width: 65%;
}
#you_contact_me li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#you_contact_me li > p {
  /* padding-left: 0.8rem; */
  margin: 0;
}
#you_contact_me ul {
  width: 20rem;
}
#you_contact_me h5 {
  margin-top: 1rem;
}
#contact h1 {
  grid-column: 1/3;
  margin: 4rem 0;
}
form {
  width: 100%;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
}

input {
  width: 24vw;
  height: 2rem;
}
form > input {
  flex: 1 1 10ch;
  margin: 0.5rem;
}
label[for="email"],
label[for="email"] > input {
  width: 80%;
  grid-column: 1/-1;
}
input {
  padding-left: 0.3rem;
}
label {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 1rem;
}

/* --------------------Burgermenu animation------------------ */

.lineOne {
  transform: rotate(35deg) translate(-4px, 38.5px);
  transform-origin: center center;
  transition: 0.5s;
}
.lineTwo {
  transform: translateX(-50px);
  opacity: 0;
}
.lineThree {
  transform: rotate(-35deg) translate(-5px, -28px);
  transform-origin: center center;
  transition: 0.5s;
}
/* ---------------------Footer--------------------------------- */
footer {
  height: 100px;
  width: 100%;
  background: var(--color-primary1);
  display: flex;
  justify-content: center;
}
#footer_content {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 48px;
  flex-direction: row-reverse;
}
#footer_links {
  align-self: center;
}
#footer_links > ul {
  display: flex;
  list-style-type: none;
  padding-bottom: 0.3rem;
}
#footer_links ul li {
  padding-right: 0.6rem;
}
#footer_links ul li a {
  color: var(--color-offwhite);
  text-decoration: none;
}
#svgs {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
#svgs svg {
  fill: var(--color-offwhite);
  padding-left: 0.6rem;
}
#footer_links svg {
  fill: var(--color-offwhite);
}
#footer_links ul:last-of-type {
  display: flex;
  flex-direction: column;
}
#footer_links ul:last-of-type li {
  display: flex;
  color: var(--color-offwhite);
}
#footer_links ul:last-of-type li p:last-of-type {
  padding-left: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--color-offwhite);
}
#footer_links p {
  margin: 0;
}

/* --------------------MEDIA QUERIES------------------------ */
@media (max-width: 784px) {
  h2 {
    font-size: 2.157rem;
  }
  #nav_links ul {
    display: none;
  }
  nav svg {
    display: inline;
    align-self: center;
    fill: var(--color-offwhite);
    cursor: pointer;
    z-index: 2;
    height: 25px;
  }
  .burgermenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary1);
    transform: translate(150vw, 0);
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    display: none;
    position: fixed;
  }
  #nav_links .burgermenu ul {
    display: inline;
  }
  #nav_links .burgermenu ul li {
    font-size: 3.157rem;
    margin-top: 1rem;
  }
  #welcome {
    padding: 4rem 48px;
  }
  #welcomeContent {
    display: grid;
    /* flex-direction: column-reverse; */
    padding: 0;
    width: 100%;
    grid-column: 1/-1;
  }
  #contentText {
    display: block;
    grid-column: 1/-1;
  }
  #contentText p {
    max-width: 100vw;
  }
  #contentImg {
    grid-column: 1/-1;
  }

  #project_one {
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem 28px;
  }
  #project_text {
    padding-top: 1rem;
  }

  #project_two {
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem 24px;
  }
  #project_three {
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem 24px;
  }
  #footer_content {
    padding: 0 24px;
  }
  #svgs {
    flex-direction: column;
  }
  #project_text h3 {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }
  #proejct_text h5 {
    font-size: 1.5rem;
  }
  #end_of_nav {
    flex-direction: row;
    justify-content: end;
  }
  .lan {
    margin-right: 1rem;
    margin-left: 0;
  }
}
/* --------------------JS Class--------------------------- */

.bgmenuWidth {
  transform: translate(0vw, 0vw);
  display: flex;
  z-index: 1;
}
.nav_svg_fixed {
  position: fixed;
}
.remove_display {
  display: none;
}
