* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Jost:300|Hepta+Slab:400");

html {
  font-size: 112.5%;
} /*18px*/
:root {
  --color-primary1: #062240;
  --color-primary2: #f1f1f1ed;
  --color-secondary: #6b7246;
  --color-secondary2: #0f0f0f;

  --color-accent1: #ff5e4f;
  --color-offwhite: #fffaff;
  /* ------------------------------------------------- */
  --font-displayfont: "Hepta Slab", serif;
  --font-bodyfont: "Jost", sans-serif;
}
body {
  background: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Hepta Slab", serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}
/* ----------------NAV--------------------------- */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 77px;
  background: var(--color-primary1);
  padding: 0 48px;
}

nav > h4 {
  display: flex;
  align-items: center;
  width: 100%;
  color: #fffaff;
  white-space: nowrap;
  font-size: 1.1rem;
  z-index: 1;
}
nav > h4 > a:first-of-type {
  display: flex;
  align-items: center;
  color: white;

  text-decoration: none;
}
#nav_links {
  display: flex;
  justify-content: end;
}

#nav_links ul {
  list-style-type: none;
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav_links ul li {
  padding-left: 1.2rem;
}
#nav_links > ul a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  opacity: 0.8;
}
#nav_links a:hover,
#footer_links > ul a:hover {
  color: #f41600;
}
nav svg {
  display: none;
}

.burgermenu {
  display: none;
}
.burgermenu a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
/* ------------------Welcome------------------------- */
main {
  display: grid;
  grid-template-columns: 1fr;
}
#welcome {
  width: 100%;
  background-color: var(--color-primary2);
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8rem 48px;
  color: var(--color-primary1);
}
#welcome h2 {
  max-width: 15ch;
  grid-column: 1/3;
}
#welcome p {
  max-width: 600px;
  grid-column: 1/3;
}
#welcome ul {
  margin-left: 1rem;
  grid-column: 1/3;
}
#welcome button {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  font-size: 0.9rem;
  color: var(--color-accent1);
  transition: 0.1s;
  cursor: pointer;
}
#welcome a {
  color: var(--color-accent1);
  text-decoration: none;
}
#welcome button:hover {
  transform: scale(1.05);
  transform-origin: left;
}

/* -------------------part-one--------------------------------- */
#part_one {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem 48px;
  scroll-margin-top: -5rem;
}
#part_one h3 {
  grid-column: 1/13;
  margin-bottom: 2rem;
}
#part_one_text {
  grid-column: 1/6;
}
#part_one_graphic {
  width: 100%;
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#part_one_graphic figure {
  align-self: center;
  width: 100%;
}
#part_one_graphic img {
  width: 100%;
}
#part_one_graphic svg {
  margin: 1rem 0;
}
#part_one_explanation {
  grid-column: 1/6;
  width: 100%;
  margin-top: 4rem;
}
#part_one_second_graphic {
  grid-column: 7/13;
  margin-top: 4rem;
}
/* -------------------part_two--------------------------------- */
#part_two {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem 48px;
  background-color: var(--color-primary2);
  scroll-margin-top: -5rem;
}
#part_two h4 {
  grid-column: 7/13;
}
#part_two_text {
  grid-column: 7/13;
  grid-row: 2;
}
#part_two_graphics {
  grid-column: 1/6;
  grid-row: 2;
}
/* -------------------part_three--------------------------------- */
#part_three {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem 48px;
  scroll-margin-top: -5rem;
}
#part_three h4 {
  grid-column: 1/7;
  margin-bottom: 1rem;
  grid-row: 1;
}
#part_three_text {
  grid-column: 1/6;
  grid-row: 2;
}
#part_three_graphics {
  grid-column: 7/13;
  grid-row: 2;
}
#part_three_second_text {
  grid-column: 7/13;
  margin-top: 2rem;
  grid-row: 3;
}
#part_three_second_graphic {
  grid-column: 1/6;
  margin-top: 2rem;
  grid-row: 3;
}
/* --------------Footer-------------------------------------- */
footer {
  height: 100px;
  width: 100%;
  background: var(--color-primary1);
  display: flex;
  justify-content: center;
}
#footer_content {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 48px;
  flex-direction: row-reverse;
}
#footer_links {
  align-self: center;
}
#footer_links > ul {
  display: flex;
  list-style-type: none;
  padding-bottom: 0.3rem;
}
#footer_links ul li {
  padding-right: 0.6rem;
}
#footer_links ul li a {
  color: var(--color-offwhite);
  text-decoration: none;
}
#svgs {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
#svgs svg {
  fill: var(--color-offwhite);
  padding-left: 0.6rem;
}
#footer_links svg {
  fill: var(--color-offwhite);
}
#footer_links ul:last-of-type {
  display: flex;
  flex-direction: column;
}
#footer_links ul:last-of-type li {
  display: flex;
  color: var(--color-offwhite);
}
#footer_links ul:last-of-type li p:last-of-type {
  padding-left: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
}
#footer_links p {
  margin: 0;
}

/* --------------------MEDIA QUERIES------------------------ */
@media (max-width: 784px) {
  #nav_links ul {
    display: none;
  }
  nav svg {
    display: inline;
    align-self: center;
    fill: var(--color-offwhite);
    cursor: pointer;
    z-index: 1;
  }
  .burgermenu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary1);
    transform: translate(150vw, 0);
    display: flex;
    justify-content: center;
    padding-top: 8rem;
  }
  #nav_links .burgermenu ul {
    display: inline;
  }
  #nav_links .burgermenu ul li {
    font-size: 3.157rem;
    margin-top: 1rem;
  }
  #welcome_content {
    grid-column: 1/4;
  }
  h1 {
    font-size: 3.209rem;
    line-height: 3.3rem;
  }
  #part_one {
    display: flex;
    flex-direction: column;
    padding: 8rem 48px;
  }
  #part_two {
    display: flex;
    flex-direction: column;
    padding: 8rem 48px;
  }
  #part_three {
    padding: 8rem 48px;
  }
  #details_part_one {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #details_part_two {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
}
@media (max-width: 500px) {
  #welcome h2 {
    grid-column: 1/-1;
  }
  #welcome p {
    grid-column: 1/-1;
  }
  #welcome button p {
    text-align: left;
  }
  #part_three h4 {
    grid-column: 1/-1;
  }
  #part_three_text {
    grid-column: 1/-1;
    grid-row: 2;
  }
  #part_three_graphics {
    grid-row: 3;
    grid-column: 1/-1;
    display: flex;
    width: 100%;
  }
  #part_three_graphics img {
    width: 100%;
  }

  #part_three_second_text {
    grid-row: 4;
    grid-column: 1/-1;
  }
  #part_three_second_graphic {
    grid-row: 5;
    grid-column: 1/-1;
  }
}
/* --------------------JS Class--------------------------- */

.bgmenuWidth {
  transform: translate(0vw, 0vw);
}
